@import url('https://fonts.googleapis.com/css2?family=Onest&family=Poppins:ital,wght@0,200;0,300;1,300&family=Raleway:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&family=Sometype+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .02s linear;
}

*::selection {
    background-color: #000;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    min-height: 100vh;
   max-width: 100%;
    position: relative;
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13vw;
    background-image:rgb(90, 90, 90) ;
    }

.nav img {
    margin-left: -120px;
    height: 80%;
    border-radius: 43px;

}

.nav img:hover{
    box-shadow: 1px 1px 10px 4px black;

}
.nav-part2 ul  {
    list-style-type: none;
  margin-top: 10px;
  margin-right: 70px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-color: white;
  color: #111;
  }
   

.nav-part2 li{
    float: left;
    display: inline;
    border-right:2px solid #bbb;
    
}

.nav-part2  li a {
    
     display: block; /*- Displaying the links as block elements makes the whole link area clickable (not just the text),  */
    color: #000000;
    text-align: center;
    padding: 16px 3em;
    text-decoration: none;
  }

.nav-part2 li a:hover{
 background-color: #000;
 color: #ffffff;
}

.nav i {
    font-size: 1.2vw;
    font-weight: 800;
    display: none;
}

.nav-part2 log button {
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.log button a {
    text-decoration: none;
    color: #fff;
    background-color: black;
}

.nav button a:hover {
    font-size: 1.04vw;
}

.content {
    min-height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(90, 90, 90);
}

.content .tag {
    height: 100%;
    width: 100%;
    margin-top: 13px;
}

.tag h3 {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: larger;

}

.tag h1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 800;
    margin-top: 13pxS;
}

.tag h4 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    margin-left: 28%;
    margin-right: 28%;
}


.tag button {
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    margin-left: 45vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
}

.section1 {
    min-height: calc(100% - 100px);
    width: 100%;
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: space-between;

}

.section1 .left {
    height: auto;
    width: 60%;
    margin: 5vw;
    border-radius: 20px;
}

.section1 img {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 20px;
}

.section1 img:hover{
    box-shadow: 1px 1px 10px 4px black;

}
.section1 .right {
    height: auto;
    width: 40%;
    margin: 4vw;
    justify-content: center;
}

.section1 h2 {
    font-size: 60px;
    color: #fff;
}

.section1 h4 {
    font-size: 26px;
    line-height: 2.5rem;
}

.section1 h2 span{
    background-color: black;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.section1 button {
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    margin-left: 10vw;
    margin-top: 3vw;
    margin-bottom: 4vw;

}

section{
    padding: 2rem 9%;
    background-color: rgb(90, 90, 90);
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #fff;
}

.heading span{
    background-color: black;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.coordinators .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.coordinators .box-container .box{
    border: 0px solid;
    padding: 3rem 2rem;
    background-color: #fff;
    outline: .1rem solid rgba(0,0,0.1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0.5rem 1.5rem  rgba(0,0,0,.1);
}

.coordinators .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px black;

}

.coordinators .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.coordinators .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
}

.coordinators .box-container .box p{
    font-size: 1rem;
    line-height: 1.8;
    color: black;
    padding-bottom: 1rem;
}



.members .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.members .box-container .box{
    border: 0px solid;
    padding: 3rem 2rem;
    background-color: #fff;
    outline: .1rem solid rgba(0,0,0.1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0.5rem 1.5rem  rgba(0,0,0,.1);
}

.members .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px black;

}
.images{
    height: auto;
    width: 1100px;
    margin-left: -12px;
    align-items: flex;
   
}
.Gallery .images{
    width: 1100px;
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}
.members .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}
 .images .box-container .box img {
    margin: 1rem 0;
    
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;

   
 }

.members .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
}

.members .box-container .box p{
    font-size: 1rem;
    line-height: 1.8;
    color: black;
    padding-bottom: 1rem;
}

section button {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 5vw;
    margin-bottom: 0.5vw;
    margin-left: 35rem;
}
.events .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.events .box-container .box{
    border: 0px solid;
    padding: 3rem 2rem;
    background-color: #fff;
    outline: .1rem solid rgba(0,0,0.1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0.5rem 1.5rem  rgba(0,0,0,.1);
}

.events .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px black;

}

.events .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.events .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
}

.events .box-container .box p{
    font-size: 1rem;
    line-height: 1.8;
    color: black;
    padding-bottom: 1rem;
}

.footer{
    background-image: rgb(90, 90, 90);

}

.footer .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2rem;
    color: black;
    padding: 1rem 0;

}

.footer .box-container .box .links{
    display: block;
    font-size: 1rem;
    color: black;
    padding: 1rem 0;
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1rem;
    color: black;
    padding: 1rem 0;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: .2rem;
    color: black;
    background: #eee;
    text-align: center; 
}

.footer .box-container .box .share a:hover{
    background-color: black;
    color: #fff;
}

@media (max-width:600px) {
    .nav {
        padding: 0 6vw;
        height: 60px;
    }

    .nav img {
        font-size: 6vw;
    }

    .nav h4 {
        display: none;
        font-size: 4vw;
    }

    .nav i {
        display: block;
        font-size: 5.5vw;
    }

    .nav button {
        display: none;

    }

    .heading{
        font-size: 2.5rem;
    }


}
.Gallery .images .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.Gallery .images .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.8;
    color: black;
}

.Gallery .images .box-container .box p{
    font-size: 1rem;
    line-height: 1.8;
    color: black;
    padding-bottom: 1rem;
}