@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: darkgray;
    background-position: center;
    background-size:cover;
}
.container {
	position: relative;
	width: 500px;
	height: 530px;
	background:transparent;
	border: 2px ;
	display: flex;
	align-items: center;
	border-radius: 50px 5px;
	padding: 45px ;
	overflow: hidden ;
}
.container .login-box {
	position:relative;
	width: 100%;
	
}
.login-box .page-box{
	display:flex;
	flex-direction: column;
}

.page-box .page{
	width: 100%;
}
.page-box .page.email-page{
	transform: translateX(0);
    transition: .25s ease-in-out;
}
.page-box.active-pass .page.email-page
{
    transform: translateX(-500px);

}
.page-box .page.password-page{
	position: absolute;
	transform: translateX(500px);
    margin-top: 140px;
    transition: .25s ease-in-out;
   
}
.page-box.active-pass .page.password-page{
    transform: translateX(0);
}
.page-box .login-title {
	text-align:center;
	color: #fff;
	margin-bottom: 20px;
}
.login-title h2 {
	font-size: 40px;
	line-height: 2.0;
	color: black;
}
.login-title p {
	font-size: 15px;
	font-weight: 500;
	color: black;
}
.page .input-box {
	position: realtive;
	width: 100%;
	height: 55px;
}
.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 2px solid #2c4766;
	outline: none;
	border-radius: 6px;
	font-size: 16px;
	color: black;
	padding: 0 16px;
}
.input-box input:focus,
.input-box input:valid{
	border-color: #0ef;

}
.input-box label {
	position:relative;
	top: -75%;
	left: 20px;
	transform: translateY(-50%);
	font-size: 18px;
	color: black;
	pointer-events: none;
    transition: .3s ease;
}
.input-box input:focus~label,
.input-box input:valid~label{
	top:-70px;
	left:12px;
	font-size: 13px;
	color: #0ef;
	background: #1f293a;
	padding: 0 6px;
}
.forgot {
	margin-top: 6px;
	
}
.forgot.show{
	margin: 10px 0 70px;
	display: flex;
	justify-content: space-between;
	
}
.forgot a {
	font-size: 14.5px;
	color: #0ef;
	text-decoration: none;
	
}
.forgot a:hover {
	text-decoration: underline;
}
.forgot.show label{
	font-size: 14.5px;
	color: black;
	cursor: pointer; 
}
.forgot.show label input{
	accent-color: #0ef;
	cursor: pointer;
	margin-right: 0px;
}

.remember{
	margin: -25px 0 15px 290px;
	
}

.remember label{
	color: black;
	font-size: 14px;
	cursor: pointer;

}

.remember label input{
	accent-color: #0ef;
	
	cursor: pointer;
}

.signup-link{
	font-size: 14px;
	text-align: center;
	margin: 15px 0;
}

.signup-link p{
	color: black;
}

.signup-link p a{
	color: #0ef;
	text-decoration: none;
	font-weight: 500;
}

.signup-link p a:hover{
	text-decoration: underline;
}

.social-platform {
	font-size: 14px;
	color: black;
	text-align: center;
}

.social-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50% ;
	text-align: center;
	line-height: 35px;
	margin: 15px 6px 0;
	transition: -3s;
}
.social-icons a:hover{
	background: #fff;
}

.social-icons a i{
	color: black;
	font-size: 14px;
	transition: .3s;
}

.social-icons a:hover i{
	color:rgba(0,0,0,.3);
}
.btn-box{
	display: flex;
    justify-content: space-between;
    align-items:center ;
}

.btn-box button {
	width: 90px;
	height: 40px;
	background: #0ef;
	border: 2px solid #0ef;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	color: #1f293a;
	font-weight: 600;
	
}
.btn-box button:nth-child(1){
	background: transparent;
	color: #0ef;
}

.btn-box1 button {
	width: 90px;
	height: 40px;
	background: #0ef;
	border: 2px solid #0ef;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	color: #1f293a;
	font-weight: 600;
	margin: 30px 0 15px 310px;
}
/* .g-signin2 {
	width: 220px;
	height: 50px;
  } */
  .g-signin2{
	display: inline-block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50% ;
	text-align: left;
	line-height: 35px;
	margin: 15px 6px 0;
	transition: -3s;
}
.g-signin2:hover{
	background: #fff;
}

.g-signin2 i{
	color: black;
	font-size: 14px;
	transition: .3s;
}

.g-signin2:hover i{
	color:rgba(0,0,0,.3);
}